{% load static %}

{%block content%}
  <!-- cards section -->

  <div id="cards_rows" class="row max-auto">
    <div id="cards_card"  class="col-sm-4">
      <div  class="card ">
        <div class="card-body">
          <h5 id="card_title" class="card-title">New Members</h5>
          <p class="card-text">Add new members here.</p>
          <a href="#" class="btn btn-primary btn-sm">Add Member</a>
        </div>
      </div>
    </div>
    <div id="cards_card"  class="col-sm-4">
      <div class="card">
        <div class="card-body ">
          <h5 id="card_title" class="card-title ">New Product</h5>
          <p class="card-text">Add a new product here.</p>
          <a href="{% url 'products:products' %}" class="btn btn-primary btn-sm">Add product</a>
        </div>
      </div>
    </div>
  </div>
  
{%endblock%}