*{
    margin: 0;
    padding: 0;
}

/* Apply styles to the entire page if needed */
body {
    font-family: corisande;
    background-color: white;
   
}

.welcome_div{
    background: linear-gradient(180deg,#F1F6FF 0%,rgba(255,255,255,0) 78.28%);
    padding: 20px;
}

  
.members_h1 {
  font-size: 22px;
  color: cadetblue;
  font-weight: bold;
  text-align: center;
  font-family: corisande;
  padding-top: 28px;
}

h1.members_tag {
  text-align: center;
  font-size: 13px;
  font-family: corisande;
}

span.members_span {
  color: cadetblue;
  font-weight: bold;
}

.members-container {
  display: flex;
  align-items: center; 
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
}

.update-text {
  flex: 1; 
  color: rgb(30,142,205);
  text-align: left;
  line-height: 66px;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 36px;
  border-color: rgb(30,142,205);
  border-style: none;
  margin: 0;
  border-radius: 0;
  padding: 0;
  font-family: corisande;
}

.table-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}

.newmembers_tag{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.table {
  width: 70%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  margin-bottom: 0;
  margin: auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 11px rgb(61 80 75);

}

table#membersTable th,
table#membersTable td {
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: left; 
}



table#membersTable th {
  background-color: #f2f2f2; 
}
  
.table thead {
  background-color: green;
  color: #fff;
}
 

.table th {
  padding: 6px 12px;
  font-weight: bold;
  font-family: corisande;
  color: dimgray;
}
  
.table tbody tr {
  border-bottom: 1px solid #ccc;
}

.table tbody tr:hover {
  background-color: red;
  cursor: pointer; 
}
  
.table td {
  padding: 4px 15px;
  font-family: corisande;
  font-size: 12px;
}
  
.table tbody tr:hover {
  background-color: #f0f0f0;
}

.newmembers_container {
  margin-top: 60px;
}
  
table.dataTable {
  width: 71%;
  margin: auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}

div#membersTable_paginate {
  margin-right: 16% !important;
  height: 30px !important;
  margin-top: 10px !important;
  font-size: 13px !important;
  margin-bottom: 50px;
}
div#membersTable_info {
  margin: auto;
  margin-left: 16%;
  font-size: 13px;
  color: darkred;
}
button.add_button {
  background-color: #007bff;
  color: #fff;
  padding: 4px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


button.add_button:hover {
  background-color:teal; 
}
  

/* Members page stylings */
.dataTables_wrapper {
  position: relative;
  clear: both;
  width: 100%;
  margin: auto;
}
table#membersTable {
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  margin-bottom: 30px;
  margin-right: 15%;
}

div#members_Table_length {
  background: cadetblue;
  margin-left: 15%;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

.dataTables_wrapper .dataTables_length {
  float: left;
  margin-left: 15%;
  font-size: 13px;
}

div#members_Table_filter {
  margin-right: 15%;
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  margin-left: 15%;
  margin-top: 10px;
  padding-top: 0.755em;
  font-size: 13px;
  color: firebrick;
}


div#newMemberTable_paginate {
  margin-right: 14%;
  margin-top: 11px;
  font-size: 12px;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
  margin-right: 13%;
}

a.paginate_button.current {
  height: 22px;
  font-size: 9px;
}

#members_delete_button{
  background-color: #007bff;
  color: #fff;
  padding: 4px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}