{% extends 'base.html' %}
{% load static %}

{% block stylings %}
    <link rel="stylesheet" href="{% static 'css/members.css' %}" />
{% endblock %}

{% block content %}

<div class="newmembers_container">
  <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Email</th>
          </tr>
      </thead>
      <tbody>
          {% for user in myusers %}
          <tr>
              <th scope="row">{{ user.id }}</th>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.email }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  <div class="pagination">
      <span class="step-links">
          {% if myusers.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ myusers.previous_page_number }}">previous</a>
          {% endif %}
          
          <span class="current-page">
              Page {{ myusers.number }} of {{ myusers.paginator.num_pages }}.
          </span>
          
          {% if myusers.has_next %}
              <a href="?page={{ myusers.next_page_number }}">next</a>
              <a href="?page={{ myusers.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
</div>


 

{% endblock %}
