{% extends 'base.html' %}

{% load static %}

{% block stylings %}
    <link rel="stylesheet" href="{% static 'css/members.css' %}" />
    <link rel="stylesheet" href="{% static 'css/products.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />


{% endblock %}


{% block content %}
{% include 'default/sidebar.html' %}

    <div class="newItem_container">
        <h1 id="NewItem_header" >Tennis Dashboard - Add New Items</h1>

        <form id="NewItems_form" action="/add_item" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                </tr>
                <tr>
                    <td><input type="text" name="item_name" required></td>
                    <td><input type="text" name="description" required></td>
                    <td><input type="number" name="quantity" required></td>
                </tr>
            </table>
            <br>
            <input id="additems_button" type="submit" value="Add Item">
        </form>

        <!-- Display existing items in another table -->
        <h2>Existing Items</h2>
        <table id="existing_items_table" class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Type</th>
                <th scope="col">Raquets</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Gear</td>
                <td>Court Shues</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Equipment</td>
                <td>Racquet</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Equipment</td>
                <td>Tennise</td>
                <td>@fat</td>
            </tr>
            </tbody>
        </table>
</div>

{%endblock%}