{% extends 'base.html' %}

{% load static %}


{% block stylings %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}" />
    <link rel="stylesheet" href="{% static 'css/productcards.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block content %}
    {% include 'default/sidebar.html' %}
    
    <h1 class="members_h1">All Products</h1>
    <p class="members_p">All the Products Are Posted In This Page</p>


    <div class="card text-center" style="width:60%; margin:0 auto;">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">New Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Game wear</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Game equipments</a>
            </li>
          </ul>
        </div>
        
        {% include 'cards/productcards.html' %}


        
    </div>
{% endblock %}